<div id="cart_view_wrapper">
  <div id="cart" class="btn-group btn-block">

    <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-default dropdown-toggle">
      <div class="d-flex justify-content-start align-items-center mr-1 pr-1 pl-0">
        <div><i class="fas fa-shopping-basket fa-2x  fa-2x "></i></div>
        <div class="text-left text-black">
          {{ text_items }}
        </div>
      </div>
    </button>

    <ul class="dropdown-menu">
      {% if products or vouchers %}
      <li>
      
          {% for product in products %}

            <div class="row align-items-center mb-3">
            <div class="col-10">
              <div class="row align-items-center">
                <div class="d-none d-lg-block col-lg-3">
                  {% if product.thumb %} 
                    <a href="{{ product.href }}">
                      <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                    </a> 
                  {% endif %}
                </div>

                <div class="col-6">
                  <a class="small" href="{{ product.href }}">{{ product.name }}</a>
                  {% if product.option %}
                    {% for option in product.option %} <br />
                      - <small>{{ option.name }} {{ option.value }}</small> 
                    {% endfor %}
                  {% endif %}
                </div>
                
                {# x{{ product.quantity }} #}

                <div class="col-3 d-flex justify-content-start">
                  <span>
                    {{ product.total }}
                  </span>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="row align-items-center">
                <div class="col-12 d-flex justify-content-end">
                  <button type="button" class="btn_remove" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}"><i class="fa fa-trash"></i></button>
                </div>
              </div>
            </div>

          </div>
          {% endfor %}
        
      </li>
      <li>
        <div>
          <table class="table">
            {% for total in totals %}
            <tr>
              <td style="width: 75%" class="text-right text-white">{{ total.title }}</td>
              <td style="width: 25%" class="text-right text-white">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>

          <p class="text-center my-5">
            <a href="{{ cart }}">
                <i class="fas fa-shopping-basket fa-2x "></i> 
                {{ text_cart }}
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="{{ checkout }}">
                <i class="fa fa-share"></i> 
                {{ text_checkout }}
            </a>
          </p>

        </div>
      </li>
      {% else %}
      <li>
        <p class="text-center text-white">{{ text_empty }}</p>
      </li>
      {% endif %}
    </ul>
  </div>
</div>