<footer>
<div class="container-fluid">  
  <div class="row" id="footer-barra">
    <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center">
       <img class="img-barra"  src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/venda-proibida.png'" class="img-fluid col-4"><p>Entrega Grátis </br> Guará, Lorena e Região</p>
    </div>
    <div class="col-sm-4 col-12 d-flex justify-content-center align-items-center">
      <img id="cartao" class="img-barra"  src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/cartao.png'" class="img-fluid col-4"><p>Parcelamos em até 3x sem juros  </br>ou até 12 vezes com juros</p>
    </div>
    <div class="col-sm-4  col-12 d-flex justify-content-center align-items-center">
      <img class="img-barra"  src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/venda-proibida.png'" class="img-fluid col-4"><p>VENDA PROIBIDA PARA </br>MENORES DE 18 ANOS  </br> Se beber não dirija</p>
    </div>
  </div>

  
    <div class="d-flex justify-content-around row">
      <div class="atendimento d-flex flex-column align-items-center col-lg-4 col-md-6 col-sm-6">
        <h5>CENTRAL DE ATENDIMENTO</h5>
        <div class="d-flex">
          <div class="titulo">{{text_whatsapp}}</div>
          <div class="pl-1">{{whatsapp}} <i class="fab fa-whatsapp"></i></div>
        </div>
        <div class="d-flex">
          <div class="titulo">{{text_telefone}}</div>
          <div class="pl-1">{{telefone}}</div>
        </div>
        <div class="d-flex">
          <div class="titulo">{{text_email}}</div>
          <div class="pl-1">{{email}}</div>
        </div>        
      </div>

      <div class="atendimento d-flex flex-column align-items-center col-lg-4 col-md-6 col-sm-6">
        <h5>LOJA FÍSICA</h5>
        <div class="">
          <div class="pl-1 loja-fisica">{{endereco}}</div>
        </div>  
        <div class="">
          <div class="pl-1 loja-fisica">{{funcionamento}}</div>
        </div>
      </div>

      <div class="atendimento d-flex flex-column align-items-center col-lg-4 col-md-12 col-sm-12">
				{{ config_message_name }}          
     
		    <h5>SIGA-NOS</h5>
        <p>Descontos especiais e ofertas exclusivas</p>
        <div class="d-flex">     
            {% if facebook %}
              <div class="px-1">
                <a href="{{ facebook }}" id="" title="{{ text_facebook }}">
                  <i class="fab fa-facebook-f fa-2x"></i>
                </a>          
              </div>
            {% endif %}

            {% if instagram %}
              <div class="px-1">
                <a href="{{ instagram }}" id="" title="{{ text_instagram }}">
                  <i class="fab fa-instagram fa-2x"></i>
                </a>          
              </div>
            {% endif %}

            {% if youtube %}
              <div class="px-1">
                <a href="{{ youtube }}" id="" title="{{ text_youtube }}">
                  <i class="fab fa-youtube fa-2x"></i>
                </a>          
              </div>
            {% endif %}

            {% if blog %}
              <div class="px-1">
                <a href="{{ blog }}" id="" title="{{ text_blog }}">
                  <i class="fas fa-blog fa-2x"></i>
                </a>          
              </div>
            {% endif %}

            {% if twitter %}
              <div class="px-1">
                <a href="{{ twitter }}" id="" title="{{ text_twitter }}">
                  <i class="fab fa-twitter fa-2x"></i>
                </a>          
              </div>
            {% endif %}  
          </div>
      </div>
    </div>
    <div class="row mt-3">
     
      {% if informations %}
      <div class="col-sm-12 ">
        {# <h5>{{ text_information }}</h5> #}
        <div class="list-unstyled d-flex justify-content-center">
         {% for information in informations %}
          <div class="px-2"><a href="{{ information.href }}">{{ information.title }}</a></div>
          {% endfor %}
          <div><a href="{{ contact }}">{{ text_contact }}</a></div>
        </div>
      </div>
      {% endif %}
      {# <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div> #}
      {# <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div> #}
    </div>
    <a href="https://api.whatsapp.com/send?phone={{whatsapp}}" class="float" target="_blank">
      <i class="fab fa-whatsapp my-float"></i>
    </a>
		<a id="BtnBackToTop"></a>
    {# <hr> #}
    {# <p>{{ powered }}</p> #}
    <div class="row">
      <div id="comment" class="col-12 d-flex justify-content-center ">
        {{comentario}}
      </div>
    </div>

    <div class="row d-flex justify-content-center pb-2" id="footer-icons">
      <div class="d-flex pr-5">
        <p>Protegido por: </p>
        <img class="img-footer" src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/sectigo.png'" class="img-fluid">
        <img class="img-footer" src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/googlesafe.png'" class="img-fluid"> 
      </div>
      <div class="d-flex pl-5">
        <p>Desenvolvido por: </p>
        <a href="https://orions.com.br" target="_blank"> 
          <img class="img-footer" src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/logo-orions.png'" class="img-fluid"> 
        </a>
      </div>      
    </div>
  </div>

              <style type="text/css">
                #popup_wrapper{
                  position: fixed;
                  top: 0; bottom: 0; left: 0; right: 0;
                  z-index: 99999;

                  width: 100vw;
                  height: 100vh;

                  background-color: rgba(0, 0, 0, .75);

                  visibility: hidden;
                  opacity: 0;

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  transition: opacity .5s;
                }

                #popup_image{
                  max-height: 80vh;
                  max-width: 90vw;

                  border: 5px solid #fff;

                  box-shadow: 10px 10px 20px #000;

                  border-radius: 2px;
                }

                #popup_image_and_btns{
                  position: relative;
                }

                #popup_btns_wrapper{
                  position: absolute;
                  bottom: 0; left: 0; right: 0;
                  width: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              </style>

              <div id="popup_wrapper">
                  <div id="popup_image_and_btns">
                    <img src="" id="popup_image">
                    <div id="popup_btns_wrapper"></div>
                  </div>
              </div>
            
</footer>
<script type="text/javascript">
	var btn = $('#BtnBackToTop');

	$(window).scroll(function() {
		if ($(window).scrollTop() > 300) {
			btn.addClass('show');
		} else {
			btn.removeClass('show');
		}
	});

	btn.on('click', function(e) {
		e.preventDefault();
		$('html, body').animate({scrollTop:0}, '300');
	});
</script>
              <script type="text/javascript">
                
                window.onload = function(){
                  const popup = JSON.parse('{{ popup }}')

                  if(popup.enabled){

                    if(popup.show_primary_btn){
                      create_button(popup.interval, popup.secondary_btn, 'secondary')
                    }

                    if(popup.show_primary_btn){
                      create_button(popup.interval, popup.primary_btn, 'primary')
                    }

                    if(!getCookie('popup_shown') || getCookie('popup_shown') === 'false'){
                      show_popup(popup)
                    }
                  }
                }

                function show_popup(popup) {
                  document.getElementById('popup_image').src = `${document.getElementsByTagName('base')[0].href}/image/${popup.image}`

                  document.getElementById('popup_wrapper').style.visibility = 'visible'
                  document.getElementById('popup_wrapper').style.opacity = '1'

                  document.body.style.overflow = 'hidden'
                }

                function create_button(interval, {bg, color, text, width, height, border_radius, font_size, redirect}, type) {
                  const c_button = type === 'primary' ? document.createElement('button') : document.createElement('a')

                  c_button.style.cssText = `
                    background-color: ${bg};
                    color: ${color} !important;

                    text-decoration: none !important;

                    width: ${width}px;
                    height: ${height}px;

                    border: none;
                    border-radius: ${border_radius}px;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    text-align: center;
                    font-size: ${font_size}px;

                    margin: 2rem 1rem;
                  `

                  c_button.innerText = text

                  if(type === 'primary'){
                    c_button.addEventListener('click', function(){
                      release_site(interval)
                    }, true)
                  }else{
                    if(redirect){
                      c_button.href = redirect
                      c_button.setAttribute('target', '_blank')
                    }else{
                      c_button.href = document.getElementsByTagName('base')[0].href
                    }
                  }

                  document.getElementById('popup_btns_wrapper').appendChild(c_button)
                }

                function release_site(interval) {
                  document.getElementById('popup_image').src = ''

                  document.getElementById('popup_wrapper').style.opacity = '0'
                  setTimeout(function(){
                    document.getElementById('popup_wrapper').style.visibility = 'hidden'
                  },500)

                  document.body.style.overflow = 'auto'

                  setCookie('popup_shown', 'true', interval)
                }

                function setCookie(cname, cvalue, minutes) {
                  var d = new Date();
                  d.setTime(d.getTime() + (minutes*60*1000));
                  var expires = "expires="+ d.toUTCString();
                  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
                }

                function getCookie(cname) {
                  var name = cname + "=";
                  var decodedCookie = decodeURIComponent(document.cookie);
                  var ca = decodedCookie.split(';');
                  for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                      c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                      return c.substring(name.length, c.length);
                    }
                  }
                  return "";
                }

              </script>
            
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>
</html>