<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
	<html
	dir="{{ direction }}" lang="{{ lang }}"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{ title }}</title>
		<base href="{{ base }}"/>
		{% if description %}
			<meta name="description" content="{{ description }}"/>
		{% endif %}
		{% if keywords %}
			<meta name="keywords" content="{{ keywords }}"/>
		{% endif %}
		{% for robot in robots %}
			<meta name="{{ robot.name }}" content="{{ robot.content }}"/>
		{% endfor %}
		<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
		<link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin>
		<link rel="dns-prefetch" href="https://fonts.gstatic.com">
		<link
		rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
		{# <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> #}
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<link
		href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>
		{# <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"/> #}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" rel="stylesheet">
		
		<link href="catalog/view/theme/orions/stylesheet/stylesheet.css" rel="stylesheet">
		{% for style in styles %}
			<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
		{% endfor %}
		{# <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> #}
		{# <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script> #}

		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
		{% for script in scripts %}
			<script src="{{ script }}" type="text/javascript"></script>
		{% endfor %}
		<script src="catalog/view/javascript/common.js" type="text/javascript"></script>
		{% for link in links %}
			<link href="{{ link.href }}" rel="{{ link.rel }}"/>
		{% endfor %}
		{% for analytic in analytics %}
			{{ analytic }}
		{% endfor %}
	</head>
	<body>
	<nav id="top">
			<div class="container-fluid background">{{ currency }}
				<p>{{ message }}</p>
			</div>
		</nav>
		<header>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-12 d-flex justify-content-center">
						<div id="logo">
							{% if logo %}
								<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid"/></a>
							{% else %}
								<h1>
									<a href="{{ home }}">{{ name }}</a>
								</h1>
							{% endif %}
						</div>
					</div>
					<div id="top-links" class="col-md-9">
						<div class="row">
							<div class="col-md-4 col-sm-12">{{ search }}</div>

							{# <li><a href="{{ contact }}"><i class="fa fa-phone"></i></a> <span class="hidden-xs hidden-sm hidden-md">{{ telephone }}</span></li> #}
							<div class="dropdown col-md-2 col-sm-4 col-4 ml-0 icon-header" id="icon-user">
								<a href="{{ account }}" title="{{ text_account }}" class="dropdown-toggle " data-toggle="dropdown">

									<i class="fas fa-user-circle"></i>
									<span class="hidden-xs hidden-sm hidden-md ">{{ text_account }}</span>
									{# <span class="caret"></span> #}
								</a>
								<ul class="dropdown-menu dropdown-menu-user dropdown-menu-right ">
									{% if logged %}
										<li>
											<a href="{{ account }}">{{ text_account }}</a>
										</li>
										<li>
											<a href="{{ order }}">{{ text_order }}</a>
										</li>
										<li>
											<a href="{{ transaction }}">{{ text_transaction }}</a>
										</li>
										<li>
											<a href="{{ download }}">{{ text_download }}</a>
										</li>
										<li>
											<a href="{{ logout }}">{{ text_logout }}</a>
										</li>
									{% else %}
										<li>
											<a href="{{ register }}">{{ text_register }}</a>
										</li>
										<li>
											<a href="{{ login }}">{{ text_login }}</a>
										</li>
									{% endif %}
								</ul>
							</div>
							<div class="col-md-3  col-sm-4  col-4 icon-header" id="icon-whislist">
								<a href="{{ wishlist }}" id="wishlist-total" title="{{ text_wishlist }}">
									<i class="fas fa-wine-glass-alt"></i>
									<span class="hidden-xs hidden-sm hidden-md">{{ text_wishlist }}</span>
								</a>
							</div>
							{# <li><a href="{{ shopping_cart }}" title="{{ text_shopping_cart }}"><i class="fas fa-shopping-basket fa-2x "></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_shopping_cart }}</span></a></li> #}
							{# <li><a href="{{ checkout }}" title="{{ text_checkout }}"><i class="fa fa-share"></i> <span class="hidden-xs hidden-sm hidden-md">{{ text_checkout }}</span></a></li> #}
							<div class="col-md-3  col-sm-4 col-4 cart">{{ cart }}</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									{{ menu }}
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>
		</header>
	</body>
</html>
