{{ header }}
<div id="common-home" class="container-fluid">
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
      {{ content_top }}
			<ul class="nav nav-tabs" id="wineTab" role="tablist">
				<li class="nav-item">
						
					<a class="nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab" aria-controls="featured" aria-selected="true"><img src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/vinhos-logo.png'" class="img-fluid">		Vinhos Selecionados</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false"><img src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/vinhos-logo.png'" class="img-fluid">Lançamentos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="bestSeller-tab" data-toggle="tab" href="#bestSeller" role="tab" aria-controls="bestSeller" aria-selected="false"><img src="#" onerror="this.src = document.getElementsByTagName('base')[0].href + '/image/catalog/vinhos-logo.png'" class="img-fluid">Mais Vendidos</a>
				</li>
			</ul>
			<div class="tab-content" id="wineTab">
				<div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
					{{ products['selecionados'] }}
				</div>
				<div class="tab-pane fade" id="latest" role="tabpanel" aria-labelledby="latest-tab">
					{{ products['lancamentos'] }}
				</div>
				<div class="tab-pane fade" id="bestSeller" role="tabpanel" aria-labelledby="bestSeller-tab">
					{{ products['vendidos'] }}
				</div>        
			</div>  

   

		  {{ content_bottom }}
    </div>
	{{ column_right }}
</div></div>{{ footer }}
