{% if categories %}
<div class="container-fluid">
  <nav id="menu" class="navbar navbar-expand-lg ">
    <div class="navbar-header">
      <button type="button" class="btn btn-navbar navbar-toggler" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse mt-1">
      <ul class="nav navbar-nav categorias">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown nav-item "><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}
            </div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a>
          </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}