{{ header }}
<div id="checkout-cart" class="container-fluid">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if attention %}
  <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h3>{{ heading_title }}
        {# {% if weight %}
        &nbsp;({{ weight }})
        {% endif %}  #}
      </h3>
      {# <form action="{{ action }}" method="post" enctype="multipart/form-data"> #}
        <div class="table-responsive">
          <table class="table  table-striped table-borderless">
            <thead>
              <tr class="table-title">
                <td class="text-center">{{ column_image }}</td>
                <td class="text-left">{{ column_name }}</td>
                <td class="text-left">{{ column_model }}</td>
                <td class="text-center">{{ column_quantity }}</td>
                <td class="text-right">{{ column_price }}</td>
                <td class="text-right">{{ column_total }}</td>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
              <td class="text-center">{% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail " /></a> {% endif %}</td>
              <td class="text-left"><a href="{{ product.href }}" class="cart-name-product"id="cart-name-product">{{ product.name }}</a>
               {% if not product.stock %} 
                <span class="text-danger">***</span>
               {% endif %}
                {% if product.option %}
                {% for option in product.option %} <br />
                <small>{{ option.name }}: {{ option.value }}</small> {% endfor %}
                {% endif %}
                {% if product.reward %} <br />
                <small>{{ product.reward }}</small> {% endif %}
                {% if product.recurring %} <br />
                <span class="label label-info">{{ text_recurring_item }}</span> <small>{{ product.recurring }}</small> {% endif %}</td>
              <td class="text-left">{{ product.model }}</td>
              {# <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">                   #}
              <td class="text-center vertical-middle">
                <div class="quantity_wrapper">
                  <button class="less" onclick="less(event, this.parentElement.querySelector('.quantity'), '{{product.cart_id}}', '{{ product.product_stock}}')">-</button>
                  <input type="text" value="{{ product.quantity }}" size="2" class="form-control quantity"  onkeydown="return false" />
                  <button class="more" onclick="more(event, this.parentElement.querySelector('.quantity'), '{{product.cart_id}}', '{{ product.product_stock}}')">+</button>
                </div>
              </td>
                  {# <span class="input-group-btn">
                  <button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary"><i class="far fa-refresh"></i></button>
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td> #}
              <td class="text-right">{{ product.price }}</td>
              <td class="text-right product_total">{{ product.total }}</td>
            </tr>
            {% endfor %}
            {% for voucher in vouchers %}
            <tr>
              <td class="text-center">{% if voucher.thumb %} <img src="{{ voucher.thumb }}" alt="{{ voucher.description }}" title="{{ voucher.description }}" class="img-thumbnail" />{% endif %}</td>
              <td class="text-left">{{ voucher.description }}</td>
              <td class="text-left"></td>
              <td class="text-left"><div class="input-group btn-block" style="max-width: 200px;">
                  <input type="text" name="" value="1" size="1" disabled="disabled" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');"><i class="fa fa-times-circle"></i></button>
                  </span></div></td>
              <td class="text-right">{{ voucher.amount }}</td>
              <td class="text-right">{{ voucher.amount }}</td>
            </tr>
            {% endfor %}
              </tbody>
          </table>
        </div>
      {# </form> #}
      {% if modules %}
      {# <h2>{{ text_next }}</h2>
      <p>{{ text_next_choice }}</p> #}
      <div class="panel-group row d-flex justify-content-around"> {% for module in modules %}
        
				{{ module }}
				
        {% endfor %} </div>
      {% endif %} <br />
      <div class="row d-flex justify-content-end">
        <div class="totals px-3  ">
          <table class="table table-responsive table-borderless" id="table_totals">
            {% for total in totals %}
            <tr>
              <td class="text-right font-weight-bold">{{ total.title }}</td>
              <td class="text-right">{{ total.text }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
      <div class="buttons clearfix d-flex justify-content-end pb-3">
        {# <div class="pull-left pb-2"><a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a></div> #}
        <div class="pull-right"><a href="{{ checkout }}" class="" id="btn-checkout">{{ button_checkout }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}

<script type="text/javascript">
  let displayed = false;
  let displayedMessage = false;
  
  function less(event ,input, cart_id, product_quantity) {
    let message = document.getElementById('dangerMessage');
    let messageInline = document.querySelector('.productMessage');

    if(parseInt(input.value) > 1){
     input.value = parseInt(input.value) - 1;  		    
    }  

    if(message){
      message.remove();
      displayed = false;
    }   

    if(messageInline){
      messageInline.remove();
      displayedMessage = false;
    }

    update_cart(event, cart_id, input.value);
  }

  function more(event, input, cart_id, product_quantity) {     
    if(parseInt(input.value) < parseInt(product_quantity) ){
      input.value = parseInt(input.value) + 1;      
    }else{
      if(!displayed){
        $('#content').parent().before(`<div id="dangerMessage" class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> Os produtos marcados com *** já estão com a quantidade máxima. <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>`);
        displayed = true; 
      }
			
      if(!displayedMessage){
        input.parentElement.parentElement.parentElement.querySelectorAll('td')[1].querySelector('a').innerHTML+= `<span class="text-danger productMessage">***</span>`;				
        displayedMessage = true;
      }
    }
    update_cart(event, cart_id, input.value);
  }

  function update_cart(event, cart_id, quantity) {

    $.ajax({
      url: 'index.php?route=checkout/cart/edit',
      type: 'POST',
      data: {cart_id: cart_id, quantity: quantity},
      success: function(res){
        
        $("#table_totals tr").remove() 
        Array.from(res.totals).forEach(total => {
          $("#table_totals").append($(`<tr>
                                        <td class="text-left">${total.title}</td>
                                        <td class="text-right">${total.text}</td>
                                      </tr>`))
        })

        event.target.closest('tr').querySelector('.product_total').innerText = res.item_total

        $("#cart_view_wrapper").html(res.cart)

      },
      error: function(err){
        console.log(err)
      }
    })
  }

</script>