{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-tax-rate').submit() : false;"><i class="far fa-trash-alt"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-tax-rate">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">{% if sort == 'tr.name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}</td>
                  <td class="text-right">{% if sort == 'tr.rate' %}
                    <a href="{{ sort_rate }}" class="{{ order|lower }}">{{ column_rate }}</a>
                    {% else %}
                    <a href="{{ sort_rate }}">{{ column_rate }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'tr.type' %}
                    <a href="{{ sort_type }}" class="{{ order|lower }}">{{ column_type }}</a>
                    {% else %}
                    <a href="{{ sort_type }}">{{ column_type }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'gz.name' %}
                    <a href="{{ sort_geo_zone }}" class="{{ order|lower }}">{{ column_geo_zone }}</a>
                    {% else %}
                    <a href="{{ sort_geo_zone }}">{{ column_geo_zone }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'tr.date_added' %}
                    <a href="{{ sort_date_added }}" class="{{ order|lower }}">{{ column_date_added }}</a>
                    {% else %}
                    <a href="{{ sort_date_added }}">{{ column_date_added }}</a>
                    {% endif %}</td>
                  <td class="text-left">{% if sort == 'tr.date_modified' %}
                    <a href="{{ sort_date_modified }}" class="{{ order|lower }}">{{ column_date_modified }}</a>
                    {% else %}
                    <a href="{{ sort_date_modified }}">{{ column_date_modified }}</a>
                    {% endif %}</td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if tax_rates %}
                {% for tax_rate in tax_rates %}
                <tr>
                  <td class="text-center">{% if tax_rate.tax_rate_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ tax_rate.tax_rate_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ tax_rate.tax_rate_id }}" />
                    {% endif %}</td>
                  <td class="text-left">{{ tax_rate.name }}</td>
                  <td class="text-right">{{ tax_rate.rate }}</td>
                  <td class="text-left">{{ tax_rate.type }}</td>
                  <td class="text-left">{{ tax_rate.geo_zone }}</td>
                  <td class="text-left">{{ tax_rate.date_added }}</td>
                  <td class="text-left">{{ tax_rate.date_modified }}</td>
                  <td class="text-right"><a href="{{ tax_rate.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="9">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}