{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-coupon').submit() : false;"><i class="far fa-trash-alt"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-coupon">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                  <td class="text-left">
                    {% if sort == 'name' %}
                    <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                    {% else %}
                    <a href="{{ sort_name }}">{{ column_name }}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'code' %}
                    <a href="{{ sort_code }}" class="{{ order|lower }}">{{ column_code }}</a>
                    {% else %}
                    <a href="{{ sort_code }}">{{ column_code }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">
                    {% if sort == 'discount' %}
                    <a href="{{ sort_discount }}" class="{{ order|lower }}">{{ column_discount }}</a>
                    {% else %}
                    <a href="{{ sort_discount }}">{{ column_discount }}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'date_start' %}
                    <a href="{{ sort_date_start }}" class="{{ order|lower }}">{{ column_date_start }}</a>
                    {% else %}
                    <a href="{{ sort_date_start }}">{{ column_date_start }}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'date_end' %}
                    <a href="{{ sort_date_end }}" class="{{ order|lower }}">{{ column_date_end }}</a>
                    {% else %}
                    <a href="{{ sort_date_end }}">{{ column_date_end }}</a>
                    {% endif %}
                  </td>
                  <td class="text-left">
                    {% if sort == 'status' %}
                    <a href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a>
                    {% else %}
                    <a href="{{ sort_status }}">{{ column_status }}</a>
                    {% endif %}
                  </td>
                  <td class="text-right">{{ column_action }}</td>
                </tr>
              </thead>
              <tbody>
                {% if coupons %}
                {% for coupon in coupons %}
                <tr>
                  <td class="text-center">{% if coupon.coupon_id in selected %}
                    <input type="checkbox" name="selected[]" value="{{ coupon.coupon_id }}" checked="checked" />
                    {% else %}
                    <input type="checkbox" name="selected[]" value="{{ coupon.coupon_id }}" />
                    {% endif %}
                  </td>
                  <td class="text-left">{{ coupon.name }}</td>
                  <td class="text-left">{{ coupon.code }}</td>
                  <td class="text-right">{{ coupon.discount }}</td>
                  <td class="text-left">{{ coupon.date_start }}</td>
                  <td class="text-left">{{ coupon.date_end }}</td>
                  <td class="text-left">{{ coupon.status }}</td>
                  <td class="text-right"><a href="{{ coupon.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="8">{{ text_no_results }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
        <div class="row">
          <div class="col-sm-6 text-left">{{ pagination }}</div>
          <div class="col-sm-6 text-right">{{ results }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ footer }}