<div class="carousel swiper-viewport">
  <div id="carousel{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
      {% for banner in banners %}
      <div class="swiper-slide text-center" id="harmonization-image">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid" />{% endif %}</div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-pagination carousel{{ module }}"></div>
  {# <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div> #}
</div>
<script type="text/javascript"><!--
  $('#carousel{{ module }}').swiper({
    mode: 'horizontal',
    slidesPerView: 4,
    pagination: '.carousel{{ module }}',
    autoplay:false,
          spaceBetween: 10,

    breakpoints: {
        1:{
          slidesPerView: 1,
          spaceBetween: 0,
          pagination: '.carousel{{ module }}',
          paginationClickable: true,
          loop: false,  
          autoplay:false,
        },
        576: {
          slidesPerView: 2,
          spaceBetween: 5,
          pagination: '.carousel{{ module }}',
          paginationClickable: true,
          loop: false,  
          autoplay:false,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 10,
          pagination: '.carousel{{ module }}',
          paginationClickable: true,
          loop: false,  
          autoplay:false,
        },
        992: {
          slidesPerView: 3,
          spaceBetween: 10,
          pagination: '.carousel{{ module }}',
          paginationClickable: false,
          autoplay: false,
          loop: false,        
        },
        1200: {
          slidesPerView: 4,
          spaceBetween: 10,
          pagination: false,
          paginationClickable: false,
          autoplay: false,
          loop: false,
        }
      }
  });
//--></script>
