{# <h3 class='titulo'>{{ heading_title }}</h3> #}
<div class=" owl-carousel owl-theme  ">
	{% for product in products %}
		<div class="product-layout  item " id="btn-comprar">
			<div class="product-thumb transition   ">
				<div class="image" >
					<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid"/>
            <div class="button-group" >
							<button type="button">
								<span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
							</button>
						</div>
					</a>
				</div>
				<div class="caption">
					<h4>
						<a  href="{{ product.href }}">{{ product.name }}</a>
					</h4>
					<p>{{ product.ncm }}</p>
					{% if product.rating %}
						<div class="rating">
							{% for i in 1..5 %}
								{% if product.rating < i %}
									<span class="fa fa-stack">
										<i class="fa fa-star-o fa-stack-2x"></i>
									</span>
								{% else %}
									<span class="fa fa-stack">
										<i class="fa fa-star fa-stack-2x"></i>
										<i class="fa fa-star-o fa-stack-2x"></i>
									</span>
								{% endif %}
							{% endfor %}
						</div>
					{% endif %}
					{% if product.price %}
						<p class="price">
							{% if not product.special %}
								{{ product.price }}
							{% else %}
								<span class="price-new">{{ product.special }}</span>
								<span class="price-old">{{ product.price }}</span>
							{% endif %}
							{# {% if product.tax %}
							          <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
							          {% endif %} #}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:false,
            loop:false,
						autoplay: true
        },
				576:{
            items:2,
            nav:false,
            loop:false,
						autoplay: true
        },
        768:{
            tems:3,
            nav:false,
            loop:false,
						autoplay: true
        },
        992:{
            items:4,
            nav:false,
            loop:false,
						autoplay: true
        }
    }
})
  
</script>