<div id="carousel-{{module_name}}" class="carousel slide carousel-fade" data-ride="carousel">
  <ol class="carousel-indicators">
      {% for i in 0..banners|length-1 %}
        {% if i == 0 %}
          <li data-target="#carousel-{{module_name}}" data-slide-to="{{i}}" class="active"></li>
        {% else %}
          <li data-target="#carousel-{{module_name}}" data-slide-to="{{i}}"></li>
        {% endif %}
      {% endfor %}
  </ol>
  <div class="carousel-inner">
      {% for i in 0..banners|length-1 %}  {#NAO ENTENDI ESSE FOR#}
        <div class="carousel-item {{ i == 0 ? 'active' : '' }}" data-interval="5000">
            {% if banners[i].link %}
              <a href="{{ banners[i].link }}">
                <img src="{{ banners[i].image }}" alt="{{ banners[i].title }}" class="img-fluid d-block w-100" />
              </a>
            {% else %}
              <img src="{{ banners[i].image }}" alt="{{ banners[i].title }}" class="img-fluid d-block w-100" />
            {% endif %}
        </div>
      {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carousel-{{module_name}}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-{{module_name}}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
