body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}

/* default font size */
.fa {
  font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10.2px;
}
a {
  color: var(--color-1);
}
a:hover {
  text-decoration: none;
  color: var(--background-icon-user);
}
legend {
  font-size: 18px;
  padding: 7px 0px;
}
label {
  font-size: 12px;
  font-weight: normal;
}
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 12px;
}
.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
  font-size: 12px;
}
.input-group .input-group-addon {
  font-size: 12px;
  height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
  display: inline;
}

.nav-tabs {
  margin-bottom: 15px;
}
div.required .control-label:before {
  content: "* ";
  color: #f00;
  font-weight: bold;
}
.dropdown {
  margin-left: 50px;
}
:root {
  --background-1: #564e42;
  --background-2: #f9e4c2;
  --background-icon-user: #ecb57e;
  --color-1: #1e1c1a;
  --color-2: #cf773f;
}

.background {
  background-color: var(--background-1);
}

.background p {
  color: #fff;
  font-size: 1.5em;
  padding: 5px 0 5px 0;
  text-align: center;
}
@media (max-width: 992px) {
  .background p {
    font-size: 1.3em;
  }
}
@media (max-width: 768px) {
  .background p {
    font-size: 1.1em;
  }
}
@media (max-width: 420px) {
  .background p {
    font-size: 1em;
  }
}

a span {
  color: var(--color-1);
}

#top {
  margin-bottom: 10px;
  /* min-height: 60px; */
}

#logo {
  margin: 0 0 10px 0;
}

@media (max-width: 767px) {
  #logo {
    display: flex;
    justify-content: center;
    margin: 0px auto 20px auto;
  }
}
/* search */
#search {
  margin: -8px -50px 5px 0;
}
#search .input-lg {
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  margin-top: 1px;
  background-color: transparent;
  background-image: none;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 1px solid #000;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* TOP LINKS */
.icon-header {
  display: flex;
  justify-content: center;
  top: -15px;
}

.icon-header a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: -0px;
}
#icon-user .dropdown-menu {
  border: 1px solid var(--background-icon-user);
  background: var(--background-2);
  background-image: linear-gradient(to bottom, #f9e4c2, #f7daab);
  transform: translate3d(10px, 56px, 0px) !important;
  transition: 0.5s !important;
}
#icon-user .dropdown-menu li a {
  color: var(--color-1);
  padding-left: 10px;
}
#icon-user .dropdown-menu li a:hover {
  color: var(--background-1);
}
.icon-header a span {
  padding-left: 10px;
}
.icon-header a .fa-user-circle {
  background-color: var(--background-icon-user);
  font-size: 3em;
  color: var(--background-2);
  border-radius: 50%;
}

.icon-header .dropdown-toggle {
  width: 70%;
}
#wishlist-total .fa-wine-glass-alt {
  /* margin-left: -0px; */
  font-size: 3em;
  color: var(--background-2);
}
@media (max-width: 1030px) {
  .icon-header a span {
    display: none;
  }
}
@media (max-width: 767px) {
  .icon-header a span {
    display: none;
  }
  .fa-user-circle {
    margin-top: 15px;
  }
  #wishlist-total .fa-wine-glass-alt {
    margin-top: 15px;
  }
}

@media (max-width: 440px) {
  .icon-header a {
    margin-left: -30px;
    margin-top: 5px;
  }
  .fa-user-circle {
    margin-left: 40px;
  }
  #wishlist-total .fa-wine-glass-alt {
    margin-left: -30px;
  }
}

/*CART */
#cart > button {
  border: none;
  box-shadow: none;
  padding: 0;
  margin-right: 0.25em;
}
#cart i {
  color: var(--background-2);
  transition: 0.5s ease 0.2s;
}
#cart > button:hover i {
  color: var(--color-1);
  transition: 0.5s ease 0.2s;
}
#cart > button i {
  margin-right: 0.25em;
}
#cart > button.dropdown-toggle:after {
  content: unset !important;
}

#cart > .dropdown-menu {
  position: fixed !important;
  transform: unset !important;
  right: unser;
  top: 0;
  height: 100vh;
  width: 400px;
  max-width: 90vw;
  margin-left: 0 !important;
  margin: 0;
  left: -100%;
  border: none;
  border-radius: 0;
  transition: left 0.75s;
  display: block !important;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-y: auto;
}

#cart > .dropdown-menu.show {
  left: 0;
}

#cart a,
#cart span {
  color: #fff !important;
  text-decoration: none !important;
}

#cart .btn_remove {
  background: none;
  border: none;
  cursor: pointer;
}

#cart .btn_remove i {
  color: #dc3545;
  font-size: 18px;
}

#cart table,
#cart table tr,
#cart table td {
  border: none;
}

#cart table tr:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 860px) {
  #cart > button {
    margin-left: -2em;
  }
}

/* MENU */
.categorias li {
  margin-left: 0;
}

#menu {
  display: flex;
  justify-content: flex-start;
  min-height: 40px;
  margin-left: -3.8em;
}
#menu .nav > li > a {
  color: var(--color-1);
  font-weight: bold;
  /* text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); */
  padding: 10px 15px 10px 15px;
}
#menu .nav > li > a:hover,
#menu .nav > li.open > a {
  background-color: transparent;
  color: var(--color-1);
  /* color: red; */
}
#menu .dropdown-menu {
  padding-bottom: 0;
  border: 1px solid var(--background-icon-user);
}
#menu .dropdown-inner {
  display: table;
}
#menu .dropdown-inner ul {
  display: table-cell;
}
#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: var(--color-1);
  font-size: 12px;
}

#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid var(--background-icon-user);
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}
#menu .see-all:hover,
#menu .see-all:focus {
  text-decoration: none;
  color: var(--color-1) !important;
  background-color: var(--background-2);
  background-image: var(--background-2);
  background-repeat: repeat-x;
}
#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  margin-right: 1em;
  margin-top: -10px;
  color: var(--color-1);
}
#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #fff;
  padding: 2px 18px;
  margin-bottom: 10px;
  float: right;
  background-color: var(--background-1);
  border-color: var(--background-1);
  transition: background-color 0.5s linear;
  transition: color 0.5s linear;
}
#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
  color: #fff;
  background-color: var(--background-icon-user);
}
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: var(-color-1);
  background-repeat: repeat-x;
}
@media (min-width: 992px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 992px) {
  #menu .nav > li > a {
    padding: 10px 15px 10px 0px;
  }
  #menu .dropdown-menu {
    overflow: hidden;
  }
  #menu {
    margin-left: -2.8em !important;
  }
}
@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
    margin: auto;
  }
  #menu .dropdown-inner > ul.list-unstyled {
    display: block;
  }

  #menu .dropdown-inner {
    display: block;
  }
  #menu .dropdown-inner a {
    width: 100%;
    /* color: #fff; */
  }

  #menu .see-all {
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    /* color: #fff; */
  }
}

/* Slideshow */
.carousel {
  margin-bottom: 15px;
}

/*Navegaçao Tab Vinhos módulo*/
.nav-tabs {
  border: none;
  justify-content: center;
  font-size: 1.3em;
}
.nav-tabs .nav-link {
  color: var(--background-1);
  border: none;
}
#wineTab .nav-item img {
  display: block;
  margin: auto;
  opacity: 0;
  padding-bottom: 10px;
}
#wineTab .nav-item .nav-link.active img {
  opacity: 1;
  transition: 0.9s;
}

#wineTab .nav-item .nav-link:after {
  content: "";
  display: block;
  margin: 0 auto;
  background-color: var(--color-2);
  width: 50px;
  height: 3px;
  margin-top: 5px;
  opacity: 0;
}
#wineTab .nav-item .nav-link.active:after {
  transition: 0.9s;
  opacity: 1;
}

/*featured*/
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -20px;
}

.product-thumb {
  border: none;
  margin-bottom: 20px;
  overflow: auto;
}
.product-thumb .image {
  text-align: center;
}
.product-thumb .image:hover {
  background-color: #faf7f7;
}
.product-thumb .image a {
  display: block;
}

.product-thumb .image img {
  margin-left: auto;
  margin-right: auto;
}
.product-thumb .caption {
  padding: 0 20px;
  min-height: 50px;
  text-align: center;
}
.product-list .product-thumb .caption {
  margin-left: 230px;
}
.product-thumb .caption h4 a {
  color: var(--background-1);
  display: flex;
  justify-content: center;
}
.product-thumb .caption p {
  color: #a4a3a1;
  display: flex;
  justify-content: center;
}
.product-thumb .caption .price {
  color: #000;
  font-weight: bold;
}
.product-grid .product-thumb .image {
  float: none;
}

.product-thumb .button-group {
  width: 60%;
  background-color: #56c454;
  overflow: auto;
  margin: 0 auto;
  position: relative;
  top: -55px;
  opacity: 0;
  visibility: hidden;
  margin-top: -50px;
}

/*Hover botao comprar*/
.product-layout:hover .button-group {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}
.product-thumb .button-group button {
  width: 100%;
  border: none;
  display: inline-block;
  background-color: #56c454;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
/*Side Images product*/
#adittionals {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}
#adittionals:last-child {
  margin-bottom: 48px;
}
#adittionals .scroll-adittionals {
  position: sticky;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
}
#adittionals .scroll-adittionals.up {
  top: 0;
  background: linear-gradient(to bottom, #fff 70%, rgba(255, 255, 255, 0));
}
#adittionals .scroll-adittionals.down {
  bottom: 0;
  background: linear-gradient(to top, #fff 70%, rgba(255, 255, 255, 0));
}

.button-group button span {
  color: #fff;
}
.product-thumb .price {
  color: #444;
}
.product-thumb .price-new {
  font-weight: 600;
}
.product-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none;
  }
}

.product-thumb .button-group button + button {
  width: 20%;
  /* border-left: 1px solid #000; */
}
.product-thumb .button-group button:hover {
  color: #fff;
  background-color: #2eb42b;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 33.33%;
  }
}

@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
  }
}

@media (max-width: 1200px) {
  .product-grid .product-thumb .caption {
    min-height: 210px;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
  }
  .product-grid .product-thumb .caption {
    min-height: 0;
  }
}
.product-thumb .rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  font-size: 8px;
}
.rating .fa-star-o {
  color: #999;
  font-size: 15px;
}
.rating .fa-star {
  color: #fc0;
  font-size: 15px;
}
.rating .fa-star + .fa-star-o {
  color: #e69500;
}
h2.price {
  margin: 0;
}

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n + 1),
  #content .col-lg-3:nth-child(4n + 1),
  #content .col-lg-4:nth-child(3n + 1),
  #content .col-lg-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n + 1),
  #content .col-md-3:nth-child(4n + 1),
  #content .col-md-4:nth-child(3n + 1),
  #content .col-md-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n + 1),
  #content .col-sm-3:nth-child(4n + 1),
  #content .col-sm-4:nth-child(3n + 1),
  #content .col-sm-6:nth-child(2n + 1) {
    clear: left;
  }
}

/*Crousel Harmonizações*/
.swiper-viewport {
  box-shadow: none !important;
  margin: 0 !important;
}
#harmonization-image {
  opacity: 1;
}
#harmonization-image:hover {
  opacity: 0.6;
  transition: 0.5s;
}
.swiper-pagination-bullet {
  margin: 70px 5px !important;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
  text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
  text-shadow: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}
#top .btn-link,
#top-links li,
#top-links a {
  color: #888;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}
#top .btn-link:hover,
#top-links a:hover {
  color: #444;
}

#top-links .dropdown-menu a {
  text-shadow: none;
}
#top-links .dropdown-menu a:hover {
  color: var(--background-icon-user);
}
#top .btn-link strong {
  font-size: 14px;
  line-height: 14px;
}
#top-links {
  padding-top: 6px;
}
#top-links a + a {
  margin-left: 0px;
}

/*PRODUCT*/
#product-product .breadcrumb {
  background-color: #faf7f7;
  border: none;
}
#product-product .breadcrumb li a {
  color: var(--color-1);
}
#product-wishlist {
  font-size: 3em;
  color: var(--background-2);
  background-image: #fff;
}

#product-wishlist {
  border: none;
}

.list-unstyled #producer a {
  color: var(--color-1);
}
.list-unstyled #producer a:hover {
  color: var(--color-2);
  transition: 0.5s;
}
.list-unstyled li h4 {
  font-weight: bold;
}
#input-quantity {
  height: 42.5px;
  border-radius: 0px;
  text-align: center;
}
#button-cart {
  border: none;
  background-color: #56c454;
  color: #fff;
  border-radius: 0px;
  margin-left: 0.25em;
}
#button-cart:hover {
  background-color: #2eb42b;
  color: #fff;
  transition: 0.5s;
}

/* .rating .fa-star {
  color: var(--background-1);
}
.rating p a {
  color: var(--color-2);
} */

#tab-description {
  font-size: 1.2em;
}
#tab-specification-name {
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.tab-attribute-group div p {
  margin-bottom: 0em;
}
.tab-attribute-group div .tab-attribute-name {
  padding-right: 0px;
}
.tab-attribute-name {
  font-weight: bold;
  padding-bottom: 0;
  margin-bottom: 0em !important;
}
#tab-attribute-group-short {
  min-width: 250px;
}

#title-related-products {
  text-align: center;
}
@media (max-width: 992px) {
  #product-product #thumbnail-primary img {
    height: 330px;
  }
}
@media (max-width: 768px) {
  #product-product #thumbnail-primary img {
    height: 300px;
  }

  #button-cart {
    margin-left: 1em !important;
    margin-top: 0.25em;
  }
}

@media (max-width: 578px) {
  #button-cart {
    margin-left: 1em !important;
    margin-right: 1em;
    margin-top: 0.25em;
  }
  #input-quantity {
    margin-right: 1.25em;
  }
}

/* content */
#content {
  min-height: 600px;
}
#content h3 {
  font-weight: bold;
}

.table-title {
  border-bottom: 1px solid #cfcfcf;
  color: var(--color-1);
  font-weight: bold;
  font-size: 1.1em;
}
.img-thumbnail {
  background-color: transparent;
  border: none;
}
table td {
  vertical-align: middle !important;
}
#cart-name-product {
  color: var(--color-1);
}
#cart-name-product:hover {
  color: var(--color-2);
}
#checkout-cart .quantity_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
#checkout-cart .quantity_wrapper .more,
#checkout-cart .quantity_wrapper .less {
  /* background: none;
  border: none; */
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  border: none;
  background-color: transparent;
  top: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
#checkout-cart .quantity_wrapper .quantity {
  text-align: center;
  border-radius: 3px;
  font-weight: 700;
  font-size: 20px;
}
#checkout-cart .quantity_wrapper .less {
  left: 20%;
}
#checkout-cart .quantity_wrapper .more {
  right: 20%;
}

/* #checkout-input-quantity button {
  color: var(--color-1);
  position: relative;
  top: 30px;
  font-size: 1.3em;
  font-weight: bold;
  border: none;
  background: none;
}
#checkout-input-quantity input{
  text-align: center;
} */

/*COUPON*/
#button-coupon,
#button-quote,
#button-voucher {
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
#button-coupon:focus,
#button-quote:focus,
#button-voucher:focus {
  background-color: var(--background-1);
  outline: none;
}
/*CHECKOUT*/
#btn-checkout {
  background-color: #56c454;
  color: #fff;
  padding: 10px;
  letter-spacing: 2px;
}
#btn-checkout:hover {
  background-color: #2eb42b;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
  transition: 0.1s;
}
/*SHIPPING*/
@media (max-width: 768px) {
  .title-shipping {
    padding-top: 1em;
  }
}
/*SEARCH e PRODUCT CATEGORY*/

.input-sort {
  color: var(--color-1) !important;
}
.list-group {
  border-radius: 0px;
}
#list-group .list-group-item,
.list-group .list-group-item {
  border: none;
  color: var(--color-1);
}
#list-group a:hover,
.list-group a:hover {
  background-color: #fff !important;
}
.list-group .list-group-item:hover {
  border: none;
}
#list-group .list-group-item:hover {
  color: var(--background-icon-user);
  background-color: none;
  border: none;
}
#list-group a.active {
  border: none !important;
  background-color: #fff !important;

  color: var(--background-icon-user) !important;
}
/* footer */
footer {
  color: var(--color-1);
}
#footer-barra {
  background-color: var(--background-1);
  margin-bottom: 4em;
}
#footer-barra div p {
  color: #fff;
  font-size: 1.2em;
  padding-left: 2em;
  padding-top: 1em;
}
#cartao {
  min-width: 58px !important;
  min-height: 58px !important;
  width: 88px !important;
  height: 88px !important;
}
footer a {
  color: var(--background-1);
}
footer a:hover {
  color: var(--color-1);
}
.atendimento h5 {
  font-size: 1.3em;
}
.atendimento div > div,
.atendimento p {
  font-size: 1.2em;
}
.atendimento > div > div .fa-whatsapp {
  color: #25d366;
}
.loja-fisica {
  text-align: center;
}
#comment {
  text-align: center;
  background-color: #ececec;
  font-size: 1.1em;
  padding: 10px 0px;
  margin-top: 10px;
}
.img-footer {
  max-width: 120px;
  height: 30px;
}
.tab-attribute-text {
  max-width: 80%;
}

#footer-icons > div > p {
  margin: 0 !important;
  padding-top: 5px;
  padding-right: 5px;
}

@media (max-width: 768px) {
  #footer-icons > div {
    padding: 1em !important;
  }
}
@media (max-width: 576px) {
  .atendimento {
    padding-top: 1.5em !important;
  }
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
#BtnBackToTop {
  display: inline-block;
  background-color: var(--background-icon-user);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 110px;
  right: 45px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s,
    box-shadow 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#BtnBackToTop::after {
  content: "^";
  font-weight: bold;
  font-style: normal;
  font-size: 4em;
  line-height: 55px;
  color: #fff;
}
#BtnBackToTop:hover {
  cursor: pointer;
  background-color: var(--background-1);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}
#BtnBackToTop:active {
  background-color: #555;
}
#BtnBackToTop.show {
  opacity: 1;
  visibility: visible;
}
.my-float {
  margin-top: 16px;
}
.atendimento .titulo,
.atendimento h5 {
  font-weight: bold !important;
  color: #3c3c3c !important;
}

/*INFORMATION PAGES*/
#information-information h3 {
  margin-bottom: 20px;
}

/* breadcrumb */
.breadcrumb {
  padding: 8px 0px 8px 0px;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  background-color: #faf7f7;
}
.breadcrumb i {
  font-size: 15px;
}

.breadcrumb > li {
  text-shadow: 0 1px 0 #fff;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
}
.breadcrumb li a {
  color: var(--color-1);
}
.breadcrumb > li + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > li:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.pagination {
  margin: 0;
}
/* buttons */
.buttons {
  margin: 1em 0;
}
.btn {
  font-size: 12px;
  border-radius: 4px;
}
.btn:focus {
  background-color: var(--background-1);
}
.btn-xs {
  font-size: 9px;
}
.btn-sm {
  font-size: 10.2px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 15px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 12px;
}
.btn-group > .btn-xs {
  font-size: 9px;
}
.btn-group > .btn-sm {
  font-size: 10.2px;
}
.btn-group > .btn-lg {
  font-size: 15px;
}
/* .btn-default {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #e7e7e7;
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
} */
.btn-primary,
.btn-secondary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--background-1);
  border-color: var(--background-1);
  transition: 0.5s;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  background-color: var(--color-2);
  background-position: 0 -15px;
  border-color: var(--color-2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  outline: none;
  transition: 0.5s;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #df5c39;
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: var(--color-2);
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
  border: 1px solid #dddddd;
  color: #888888;
  padding: 8px 12px;
}
.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 0 #fff;
}
/* slideshow */
.carousel-caption {
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}
.carousel-control .icon-next:before {
  content: "\f054";
  font-family: FontAwesome;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^="quantity"] {
  min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
