{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-option').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-option').submit() : false;"><i class="far fa-trash-alt"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-option" class="col-md-3 col-md-push-9 col-sm-12 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label class="control-label" for="input-name">{{ entry_name }}</label>
              <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
            </div>
            <div class="form-group">
              <label class="control-label" for="input-type">{{ entry_type }}</label>
              <select name="filter_type" id="input-type" class="form-control">
                <option value=""></option>
                <optgroup label="{{ text_choose }}">
                  {% if filter_type == 'select' %}
                  <option value="select" selected="selected">{{ text_select }}</option>
                  {% else %}
                  <option value="select">{{ text_select }}</option>
                  {% endif %}
                  {% if filter_type == 'radio' %}
                  <option value="radio" selected="selected">{{ text_radio }}</option>
                  {% else %}
                  <option value="radio">{{ text_radio }}</option>
                  {% endif %}
                  {% if filter_type == 'checkbox' %}
                  <option value="checkbox" selected="selected">{{ text_checkbox }}</option>
                  {% else %}
                  <option value="checkbox">{{ text_checkbox }}</option>
                  {% endif %}
                </optgroup>
                <optgroup label="{{ text_input }}">
                  {% if filter_type == 'text' %}
                  <option value="text" selected="selected">{{ text_text }}</option>
                  {% else %}
                  <option value="text">{{ text_text }}</option>
                  {% endif %}
                  {% if filter_type == 'textarea' %}
                  <option value="textarea" selected="selected">{{ text_textarea }}</option>
                  {% else %}
                  <option value="textarea">{{ text_textarea }}</option>
                  {% endif %}
                </optgroup>
                <optgroup label="{{ text_file }}">
                  {% if filter_type == 'file' %}
                  <option value="file" selected="selected">{{ text_file }}</option>
                  {% else %}
                  <option value="file">{{ text_file }}</option>
                  {% endif %}
                </optgroup>
                <optgroup label="{{ text_date }}">
                  {% if filter_type == 'date' %}
                  <option value="date" selected="selected">{{ text_date }}</option>
                  {% else %}
                  <option value="date">{{ text_date }}</option>
                  {% endif %}
                  {% if filter_type == 'time' %}
                  <option value="time" selected="selected">{{ text_time }}</option>
                  {% else %}
                  <option value="time">{{ text_time }}</option>
                  {% endif %}
                  {% if filter_type == 'datetime' %}
                  <option value="datetime" selected="selected">{{ text_datetime }}</option>
                  {% else %}
                  <option value="datetime">{{ text_datetime }}</option>
                  {% endif %}
                </optgroup>
              </select>
            </div>
            <div class="form-group text-right">
              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-pull-3 col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
          </div>
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-option">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
                      <td class="text-left">
                        {% if sort == 'od.name' %}
                        <a href="{{ sort_name }}" class="{{ order|lower }}">{{ column_name }}</a>
                        {% else %}
                        <a href="{{ sort_name }}">{{ column_name }}</a>
                        {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sort == 'o.sort_order' %}
                        <a href="{{ sort_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                        {% else %}
                        <a href="{{ sort_sort_order }}">{{ column_sort_order }}</a>
                        {% endif %}
                      </td>
                      <td class="text-right">{{ column_action }}</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% if options %}
                    {% for option in options %}
                    <tr>
                      <td class="text-center">
                        {% if option.option_id in selected %}
                        <input type="checkbox" name="selected[]" value="{{ option.option_id }}" checked="checked" />
                        {% else %}
                        <input type="checkbox" name="selected[]" value="{{ option.option_id }}" />
                        {% endif %}
                      </td>
                      <td class="text-left">{{ option.name }}</td>
                      <td class="text-right">{{ option.sort_order }}</td>
                      <td class="text-right"><a href="{{ option.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-center" colspan="4">{{ text_no_results }}</td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	url = 'index.php?route=catalog/option&user_token={{ user_token }}';

	var filter_name = $('input[name=\'filter_name\']').val();

	if (filter_name) {
		url += '&filter_name=' + encodeURIComponent(filter_name);
	}

	var filter_type = $('select[name=\'filter_type\']').val();

	if (filter_type) {
		url += '&filter_type=' + encodeURIComponent(filter_type);
	}

	location = url;
});
//--></script>
</div>
{{ footer }}